html {
	text-align: center;
	background-color: #333333;
	color: #f5f5f5;
}

body {
	background-color: #1b1b1b;
	width: 70%;
	margin: 11.5%;
	border-radius: 15px;
	font-family: "Product Sans";
	font-size: 26px;
	padding: 3.5%;
}

footer {
	font-size: 10px;
}

.link {
	font-size: 45px;
	transition: 0.4s;
}

.link:hover {
	font-size: 55px;
}

a {
	color: #f5f5f5;
}